*{
    margin: 0;
    padding: 0;
}
nav ul li a:hover{
    color: rgb(250, 12, 12);
}
nav ul li a:active{
    color: green;
}
.i1 img{
    border-radius: 50%;
}
.i2 img{
    border-radius: 50%;
}
.i3 img{
    border-radius: 50%;
}
.i4 img{
    
    border-radius: 50%;
}
.slider{
    height: 100px;
    margin: 0;
    top: 44px;
    position: sticky;
    z-index: -3;
}

nav ul li a{
    color: white;
    font-size: 3vw;
    text-decoration:none;
padding: 0 5vw;
font-weight: bold;
}
nav ul{height: 40px ;
    display: flex;
    justify-content:left;
    align-items: center;
}

.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
nav ul li{
    width: 25%;
    list-style: none;
}
.i1 img{
    width: 100%;
    animation-name: animate;
    animation-duration:  24s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-timing-function: linear;

}
 .i2 img{
    width: 100%;
    animation-name: animate;
    animation-duration:24s;
    animation-iteration-count: infinite;
    animation-delay:13s;
    animation-timing-function: linear;

    
    
}
.i3 img{ 
    animation-name: animate;
    animation-duration:24s;
    animation-iteration-count:infinite;
    animation-delay:13s;
    animation-timing-function: linear;
    width: 100%;
}
.i4 img{ 
    animation-name: animate;
    animation-duration:24s;
    animation-iteration-count: infinite;
    animation-delay:21s;
    animation-timing-function: linear;
    width: 100%;
} 
.i1{width: 150px;
    
    
    margin: 10px;
}
.i2{width: 150px;
    
     margin: 10px;
}
.i3{width: 150px;
    
     margin: 10px;
}
.i4{width: 150px;
   
     margin: 10px;
}

.allcenter{
    background-color: brown;
    color: white;
    height: 10vh;
    display: flex;
    margin: 0 0 10px 0;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkolivegreen;
}
@keyframes animate{
    0%{
        transform:rotateY(0deg);
    }
    33.33%{
        transform: rotateY(360deg);
    }
    
    100%{
       transform:rotateY(360deg);
    }
}



header{
    background-color: rgb(16, 1, 151);
    height: 40px;
border: 2px solid black;
z-index: 3;
position: sticky;
top: 0;
}
main{
    height: 80%;
    background-color: rgba(255, 68, 0, 0.521);
    
    margin: 0 0 20px 0;
    
    border-style:none;
    
    border-top: red solid 5px;
    border-bottom: red solid 5px;
}

